.container-wrap {
  display: flex;
}

.container-wrap > div {
  flex: 1;
  border: 1px solid #dcdcdc;
  margin: 0 10px;
  overflow-y: auto;
  padding: 15px;
}

.base-info .item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.base-info .item label {
  width: 150px;
  text-align: right;
  margin-right: 5px;
}
.base-info .item .dir-input {
  width: 400px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
}
.base-info .confirm-btn {
  width: 120px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  background-color: #108de9;
  color: #fff;
  font-size: 14px;
  outline: none;
  padding: 0;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.file-info {
  width: 100%;
  height: 500px;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  outline: none;
}
